@import "./energies/index.css";

/* GLOBAL PALETTE */
@theme inline {
  /* SECTION: Variables */
  /* SECTION: Colors */
  /* SECTION: Accent Colors */
  /* SECTION: Electric Violet */
  --color-electric-violet-100: oklch(0.963 0.0193 302.21);
  --color-electric-violet-200: oklch(0.8907 0.0562 301.22);
  --color-electric-violet-300: oklch(0.8189 0.0956 300.04);
  --color-electric-violet-400: oklch(0.7474 0.1344 298.96);
  --color-electric-violet-500: oklch(0.6777 0.1726 297.5);
  --color-electric-violet-600: oklch(0.6436 0.1922 296.58); /* #9B6DF2 */
  --color-electric-violet-700: oklch(0.5965 0.177 296.84);
  --color-electric-violet-800: oklch(0.4977 0.144 297.26);
  --color-electric-violet-900: oklch(0.3963 0.1087 297.27);
  --color-electric-violet-1000: oklch(0.2849 0.0719 296.56);
  --color-electric-violet-1100: oklch(0.162 0.0275 297.41);
  /* !SECTION: Electric Violet */

  /* SECTION: Dusty Rose */
  --color-dusty-rose-100: oklch(0.978 0.015 355.2);
  --color-dusty-rose-200: oklch(0.940 0.035 355.2);
  --color-dusty-rose-300: oklch(0.890 0.065 355.2);
  --color-dusty-rose-400: oklch(0.810 0.095 355.2);
  --color-dusty-rose-500: oklch(0.720 0.125 355.2);
  --color-dusty-rose-600: oklch(0.640 0.115 355.2); /* #C26D8F */
  --color-dusty-rose-700: oklch(0.560 0.095 355.2);
  --color-dusty-rose-800: oklch(0.460 0.075 355.2);
  --color-dusty-rose-900: oklch(0.360 0.055 355.2);
  --color-dusty-rose-1000: oklch(0.260 0.035 355.2);
  --color-dusty-rose-1100: oklch(0.170 0.018 355.2);
  /* !SECTION: Dusty Rose */
  
  /* SECTION: Matcha Sage */
  --color-matcha-sage-100: oklch(0.980 0.010 145.8);
  --color-matcha-sage-200: oklch(0.945 0.025 145.8);
  --color-matcha-sage-300: oklch(0.900 0.045 145.8);
  --color-matcha-sage-400: oklch(0.830 0.065 145.8);
  --color-matcha-sage-500: oklch(0.740 0.095 145.8);
  --color-matcha-sage-600: oklch(0.660 0.085 145.8); /* #70A073 */
  --color-matcha-sage-700: oklch(0.580 0.070 145.8);
  --color-matcha-sage-800: oklch(0.480 0.055 145.8);
  --color-matcha-sage-900: oklch(0.380 0.040 145.8);
  --color-matcha-sage-1000: oklch(0.270 0.025 145.8);
  --color-matcha-sage-1100: oklch(0.180 0.012 145.8);

  /* SECTION: Terracotta Rust */
  --color-terracotta-rust-100: oklch(0.970 0.010 40.8);
  --color-terracotta-rust-200: oklch(0.915 0.035 40.8);
  --color-terracotta-rust-300: oklch(0.845 0.070 40.8);
  --color-terracotta-rust-400: oklch(0.755 0.115 40.8);
  --color-terracotta-rust-500: oklch(0.655 0.155 40.8);
  --color-terracotta-rust-600: oklch(0.585 0.145 40.8); /* #C1582F */
  --color-terracotta-rust-700: oklch(0.515 0.125 40.8);
  --color-terracotta-rust-800: oklch(0.425 0.095 40.8);
  --color-terracotta-rust-900: oklch(0.335 0.065 40.8);
  --color-terracotta-rust-1000: oklch(0.245 0.040 40.8);
  --color-terracotta-rust-1100: oklch(0.165 0.015 40.8);
  /* !SECTION: Terracotta Rust */

  /* SECTION: Golden Hour */
  --color-golden-hour-100: oklch(0.985 0.015 80.2);
  --color-golden-hour-200: oklch(0.955 0.045 80.2);
  --color-golden-hour-300: oklch(0.915 0.085 80.2);
  --color-golden-hour-400: oklch(0.865 0.125 80.2);
  --color-golden-hour-500: oklch(0.805 0.170 80.2);
  --color-golden-hour-600: oklch(0.735 0.160 80.2); /* #DD9C00 */
  --color-golden-hour-700: oklch(0.645 0.135 80.2);
  --color-golden-hour-800: oklch(0.545 0.105 80.2);
  --color-golden-hour-900: oklch(0.445 0.075 80.2);
  --color-golden-hour-1000: oklch(0.325 0.045 80.2);
  --color-golden-hour-1100: oklch(0.205 0.020 80.2);
  /* !SECTION: Golden Hour */
  /* !SECTION: Accent Colors */

  /* SECTION: Surface Colors */
  /* SECTION: Gun Metal */
  --color-gun-metal-100: oklch(0.8766 0.0052 228.83);
  --color-gun-metal-200: oklch(0.793 0.0099 222.08);
  --color-gun-metal-300: oklch(0.6855 0.0146 226.66);
  --color-gun-metal-400: oklch(0.5707 0.0207 232.78);
  --color-gun-metal-500: oklch(0.4523 0.0266 229.7);
  --color-gun-metal-600: oklch(0.3273 0.034 230.85);
  --color-gun-metal-700: oklch(0.293 0.0296 229.4);
  --color-gun-metal-800: oklch(0.2555 0.0244 234.06);
  --color-gun-metal-900: oklch(0.2189 0.0197 232.69);
  --color-gun-metal-1000: oklch(0.1801 0.0136 223.07);
  --color-gun-metal-1100: oklch(0.1458 0.0083 227.73);
  /* !SECTION: Gun Metal */

  /* SECTION: Amber White */
  --color-amber-white-100: oklch(0.9913 0.0013 286.38);
  --color-amber-white-200: oklch(0.9854 0.0013 286.38);
  --color-amber-white-300: oklch(0.9787 0.0017 247.84);
  --color-amber-white-400: oklch(0.9719 0.0025 228.78);
  --color-amber-white-500: oklch(0.964 0.0029 264.54);
  --color-amber-white-600: oklch(0.9572 0.0034 247.86);
  --color-amber-white-700: oklch(0.8349 0.0036 247.87);
  --color-amber-white-800: oklch(0.7077 0.0027 228.8);
  --color-amber-white-900: oklch(0.5756 0.002 247.86);
  --color-amber-white-1000: oklch(0.4316 0.0016 286.33);
  --color-amber-white-1100: oklch(0.3096 0.0018 286.3);
  /* !SECTION: Amber White */
  /* !SECTION: Surface Colors */

  /* SECTION: Feedback Colors */
  /* SECTION: Basil */
  --color-basil-amber-light: oklch(0.6454 0.1347 142.31)#59A253;
  --color-basil-amber: oklch(0.4914 0.1336 143.21);
  --color-basil-amber-dark: oklch(0.3415 0.1162 142.5);
  --color-basil-gun-metal-light: oklch(0.7736 0.1039 144.1);
  --color-basil-gun-metal: oklch(0.6187 0.1035 144.2);
  --color-basil-gun-metal-dark: oklch(0.4647 0.1035 144.68);
  /* !SECTION: Basil */

  /* SECTION: Tomato */
  --color-tomato-amber-light: oklch(0.6656 0.2019 22.56);
  --color-tomato-amber: oklch(0.5106 0.1997 21.42);
  --color-tomato-amber-dark: oklch(0.3898 0.159163 27.6392);
  --color-tomato-gun-metal-light: oklch(0.6976 0.1933 29.11);
  --color-tomato-gun-metal: oklch(0.6373 0.2481 27.08);
  --color-tomato-gun-metal-dark: oklch(0.5132 0.2106 29.23);
  /* !SECTION: Tomato */

  /* SECTION: Corn */
  --color-corn-amber-light: oklch(0.8559 0.1406 80.59);
  --color-corn-amber: oklch(0.7042 0.1341 80.03);
  --color-corn-amber-dark: oklch(0.5492 0.1147 77.38);
  
  --color-corn-gun-metal-light: oklch(0.8798 0.1242 83.19);
  --color-corn-gun-metal: oklch(0.779 0.1505 62.52);
  --color-corn-gun-metal-dark: oklch(0.6232 0.1407 61.65);
  /* !SECTION: Corn */

  /* SECTION: Blueberry */
  --color-blueberry-amber-light: oklch(0.6413 0.1555 262.33);
  --color-blueberry-amber: oklch(0.4867 0.1602 255.4);
  --color-blueberry-amber-dark: oklch(0.3562 0.1452 259.99);
  --color-blueberry-gun-metal-light: oklch(0.7874 0.1107 252.43);
  --color-blueberry-gun-metal: oklch(0.6327 0.1152 250.45);
  --color-blueberry-gun-metal-dark: oklch(0.4774 0.1207 246);
  /* !SECTION: Blueberry */

  /* SECTION: Koala */
  --color-disabled-amber: oklch(0.6731 0 0);
  --color-stroke-disabled-amber: oklch(0.58, 0, 0);
  --color-disabled-gun-metal: oklch(0.325 0 0);
  --color-stroke-disabled-gun-metal: oklch(0.42 0 0);
  --color-text-on-disabled: oklch(0.5208 0 0);
  --color-muted: oklch(0.8025 0 0);
  /* !SECTION: Koala */
  /* !SECTION: Feedback Colors */
  /* !SECTION: Colors */

  /* SECTION: Fonts */
  --font-heading: 'Rowan', sans-serif;
  --font-body: 'Satoshi', sans-serif;
  --font-code: 'JetBrains Mono', monospace;
  /* !SECTION: Fonts */
  /* !SECTION: Variables */
}

/* SECTION: Semantic Mapping */
@theme inline {
	/* SECTION: LAYER 1: BASE */
	--color-bg-base-primary: var(--bg-base-primary);
	--color-bg-flat-primary: var(--bg-flat-primary);
	--color-stroke-base-primary: var(--stroke-base-primary);
	--color-stroke-flat-primary: var(--stroke-flat-primary);
	--color-bg-base-accent-primary: var(--bg-base-accent-primary);
	--color-bg-base-accent-secondary: var(--bg-base-accent-secondary);
	--color-bg-disabled: var(--bg-disabled);
	--color-bg-muted: var(--bg-muted);
	--color-stroke-disabled: var(--stroke-disabled);
	/* !SECTION: LAYER 1: BASE */
	
	/* SECTION: LAYER 2: RAISED */
	--color-bg-raised-primary: var(--bg-raised-primary);
	--color-bg-raised-secondary: var(--bg-raised-secondary);
	--color-stroke-raised-primary: var(--stroke-raised-primary);
	--color-stroke-raised-secondary: var(--stroke-raised-secondary);
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-text-tertiary: var(--text-tertiary);
	--color-text-disabled: var(--text-disabled);
	--color-text-muted: var(--text-muted);
	--color-text-accent-primary: var(--text-accent-primary);
	--color-text-accent-secondary: var(--text-accent-secondary);
	--color-text-success: var(--text-success);
	--color-text-destructive: var(--text-destructive);
	--color-text-info: var(--text-info);
	--color-text-warning: var(--text-warning);
	/* !SECTION: LAYER 2: RAISED */

	/* SECTION: LAYER 3: MODAL */
	--color-bg-modal-primary: var(--bg-modal-primary);
	--color-bg-modal-secondary: var(--bg-modal-secondary);
	--color-stroke-modal-primary: var(--stroke-modal-primary);
	--color-stroke-modal-secondary: var(--stroke-modal-secondary);
	--color-bg-success: var(--bg-success);
	--color-bg-fill-success: var(--bg-fill-success);
	--color-bg-hover-success: var(--bg-hover-success);
	--color-stroke-success: var(--stroke-success);
	--color-bg-destructive: var(--bg-destructive);
	--color-bg-fill-destructive: var(--bg-fill-destructive);
	--color-bg-hover-destructive: var(--bg-hover-destructive);
	--color-stroke-destructive: var(--stroke-destructive);
	--color-bg-info: var(--bg-info);
	--color-bg-fill-info: var(--bg-fill-info);
	--color-bg-hover-info: var(--bg-hover-info);
	--color-stroke-info: var(--stroke-info);
	--color-bg-warning: var(--bg-warning);
	--color-bg-fill-warning: var(--bg-fill-warning);
	--color-bg-hover-warning: var(--bg-hover-warning);
	--color-stroke-warning: var(--stroke-warning);
	/* !SECTION: LAYER 3: MODAL */

	/* SECTION: LAYER 4: ACTIVE */
	--color-bg-active-primary: var(--bg-active-primary);
	--color-stroke-active-primary: var(--stroke-active-primary);
	--color-bg-active-secondary: var(--bg-active-secondary);
	--color-stroke-active-secondary: var(--stroke-active-secondary);

	--color-bg-active-accent-primary: var(--bg-active-accent-primary);
	--color-bg-active-hover-accent-primary: var(--bg-active-hover-accent-primary);
	--color-bg-active-fill-accent-primary: var(--bg-active-fill-accent-primary);
	--color-stroke-active-accent-primary: var(--stroke-active-accent-primary);
	--color-bg-active-accent-secondary: var(--bg-active-accent-secondary);
	--color-bg-active-hover-accent-secondary: var(--bg-active-hover-accent-secondary);
	--color-bg-active-fill-accent-secondary: var(--bg-active-fill-accent-secondary);
	--color-stroke-active-accent-secondary: var(--stroke-active-accent-secondary);

	/* SECTION: LAYER 4: CHARTS */
	--color-chart-primary-1: var(--chart-primary-1);
	--color-chart-primary-2: var(--chart-primary-2);
	--color-chart-primary-3: var(--chart-primary-3);
	--color-chart-primary-4: var(--chart-primary-4);
	--color-chart-primary-5: var(--chart-primary-5);
	--color-chart-secondary-1: var(--chart-secondary-1);
	--color-chart-secondary-2: var(--chart-secondary-2);
	--color-chart-secondary-3: var(--chart-secondary-3);
	--color-chart-secondary-4: var(--chart-secondary-4);
	--color-chart-secondary-5: var(--chart-secondary-5);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	/* !SECTION: LAYER 4: CHARTS */
	/* !SECTION: LAYER 4: ACTIVE */
}
/* !SECTION: Semantic Mapping */

@layer base {
	/* SECTION: THEME - AMBER WHITE */
	:root {
		/* SECTION: Dimensions */
		--radius: 0.625rem;
		--radius-sm: calc(var(--radius) * 0.6);
		--radius-md: calc(var(--radius) * 0.8);
		--radius-lg: var(--radius);
		--radius-xl: calc(var(--radius) * 1.4);
		--radius-2xl: calc(var(--radius) * 1.8);
		--radius-3xl: calc(var(--radius) * 2.2);
		--radius-4xl: calc(var(--radius) * 2.6);
		/* !SECTION: Dimensions */

		/* SECTION: LAYER 1: BASE */
		--bg-base-primary: var(--color-amber-white-100);
		--bg-flat-primary: var(--color-amber-white-200);
		--stroke-base-primary: var(--color-gun-metal-1000);
		--stroke-flat-primary: var(--color-gun-metal-900);
		--bg-disabled: var(--color-disabled-amber);
		--bg-muted: var(--color-muted);
		--stroke-disabled: var(--color-stroke-disabled-amber);
		/* !SECTION: LAYER 1: BASE */

		/* SECTION: LAYER 2: FLAT */
		--bg-raised-primary: var(--color-amber-white-300);
		--bg-raised-secondary: var(--color-amber-white-400);
		--stroke-raised-primary: var(--color-gun-metal-700);
		--stroke-raised-secondary: var(--color-gun-metal-600);
		--text-primary: var(--color-gun-metal-1100);
		--text-secondary: var(--color-gun-metal-500);
		--text-tertiary: var(--color-gun-metal-300);
		--text-disabled: var(--color-text-on-disabled);
		--text-muted: var(--color-gun-metal-900);
		--text-success: var(--color-basil-amber-dark);
		--text-destructive: var(--color-tomato-amber-dark);
		--text-info: var(--color-blueberry-amber-dark);
		--text-warning: var(--color-corn-amber-dark);

		/* SECTION: LAYER 2: MODAL */
		--bg-modal-primary: var(--color-amber-white-500);
		--bg-modal-secondary: var(--color-amber-white-600);
		--stroke-modal-primary: var(--color-gun-metal-500);
		--stroke-modal-secondary: var(--color-gun-metal-400);
		/* SUCCESS */
		--bg-success: color-mix(in oklch, var(--color-basil-amber), transparent 82%);
		--bg-fill-success: var(--color-basil-amber);
		--bg-hover-success: color-mix(in oklch, var(--color-basil-amber), transparent 91%);
		--stroke-success: var(--color-basil-amber);
		/* DESTRUCTIVE */
		--bg-destructive: color-mix(in oklch, var(--color-tomato-amber), transparent 82%);
		--bg-fill-destructive: var(--color-tomato-amber);
		--bg-hover-destructive: color-mix(in oklch, var(--color-tomato-amber), transparent 91%);
		--stroke-destructive: var(--color-tomato-amber);
		/* INFO */
		--bg-info: color-mix(in oklch, var(--color-blueberry-amber), transparent 82%);
		--bg-fill-info: var(--color-blueberry-amber);
		--bg-hover-info: color-mix(in oklch, var(--color-blueberry-amber), transparent 91%);
		--stroke-info: var(--color-blueberry-amber);
		/* WARNING */
		--bg-warning: color-mix(in oklch, var(--color-corn-amber), transparent 82%);
		--bg-fill-warning: var(--color-corn-amber);
		--bg-hover-warning: color-mix(in oklch, var(--color-corn-amber), transparent 91%);
		--stroke-warning: var(--color-corn-amber);
		/* !SECTION: LAYER 2: MODAL */
		/* !SECTION: LAYER 2: FLAT */

		/* SECTION: LAYER 3: ACTIVE */
		--bg-active-primary: var(--color-amber-white-700);
		--bg-active-secondary: var(--color-amber-white-800);
		--stroke-active-primary: var(--color-gun-metal-300);
		--stroke-active-secondary: var(--color-gun-metal-200);
		/* !SECTION: LAYER 3: ACTIVE */
	}
	/* !SECTION: THEME - AMBER WHITE */

	/* SECTION: THEME - GUN METAL */
	.dark {
		/* SECTION: LAYER 1: BASE */
		--bg-base-primary: var(--color-gun-metal-1100);
		--bg-flat-primary: var(--color-gun-metal-1000);
		--stroke-base-primary: var(--color-amber-white-200);
		--stroke-flat-primary: var(--color-amber-white-300);
		--bg-disabled: var(--color-disabled-gun-metal);
		--bg-muted: var(--color-muted);
		--stroke-disabled: var(--color-stroke-disabled-gun-metal);
		/* !SECTION: LAYER 1: BASE */

		/* SECTION: LAYER 2: FLAT */
		--bg-raised-primary: var(--color-gun-metal-900);
		--bg-raised-secondary: var(--color-gun-metal-800);
		--stroke-raised-primary: var(--color-amber-white-400);
		--stroke-raised-secondary: var(--color-amber-white-500);
		--text-primary: var(--color-amber-white-100);
		--text-secondary: var(--color-amber-white-700);
		--text-tertiary: var(--color-amber-white-900);
		--text-disabled: var(--color-text-on-disabled);
		--text-muted: var(--color-gun-metal-900);
		--text-success: var(--color-basil-gun-metal-light);
		--text-destructive: var(--color-tomato-gun-metal-light);
		--text-info: var(--color-blueberry-gun-metal-light);
		--text-warning: var(--color-corn-gun-metal-light);

		/* SECTION: LAYER 2: MODAL */
		--bg-modal-primary: var(--color-gun-metal-700);
		--bg-modal-secondary: var(--color-gun-metal-600);
		--stroke-modal-primary: var(--color-amber-white-600);
		--stroke-modal-secondary: var(--color-amber-white-700);
		/* SUCCESS */
		--bg-success: color-mix(in oklch, var(--color-basil-gun-metal), transparent 82%);
		--bg-fill-success: var(--color-basil-gun-metal);
		--bg-hover-success: color-mix(in oklch, var(--color-basil-gun-metal), transparent 91%);
		--stroke-success: var(--color-basil-gun-metal);
		/* DESTRUCTIVE */
		--bg-destructive: color-mix(in oklch, var(--color-tomato-gun-metal), transparent 82%);
		--bg-fill-destructive: var(--color-tomato-gun-metal);
		--bg-hover-destructive: color-mix(in oklch, var(--color-tomato-gun-metal), transparent 91%);
		--stroke-destructive: var(--color-tomato-gun-metal);
		/* INFO */
		--bg-info: color-mix(in oklch, var(--color-blueberry-gun-metal), transparent 82%);
		--bg-fill-info: var(--color-blueberry-gun-metal);
		--bg-hover-info: color-mix(in oklch, var(--color-blueberry-gun-metal), transparent 91%);
		--stroke-info: var(--color-blueberry-gun-metal);
		/* WARNING */
		--bg-warning: color-mix(in oklch, var(--color-corn-gun-metal), transparent 82%);
		--bg-fill-warning: var(--color-corn-gun-metal);
		--bg-hover-warning: color-mix(in oklch, var(--color-corn-gun-metal), transparent 91%);
		--stroke-warning: var(--color-corn-gun-metal);
		/* !SECTION: LAYER 2: MODAL */
		/* !SECTION: LAYER 2: FLAT */

		/* SECTION: LAYER 3: ACTIVE */
		--bg-active-primary: var(--color-gun-metal-500);
		--bg-active-secondary: var(--color-gun-metal-400);
		--stroke-active-primary: var(--color-amber-white-800);
		--stroke-active-secondary: var(--color-amber-white-900);
		/* !SECTION: LAYER 3: ACTIVE */
	}
	/* !SECTION: THEME - GUN METAL */
}
